extends layout

block content
  h1= title
  div(id = 'map-canvas')

  script(src = '/javascripts/haversine.js')
  script(src = '/javascripts/gmaps.min.js')
  script(src = '/javascripts/planner.js')
  script(src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB0HMkhjSZwLxLMtOzokyyxQueN6G7fGK0&callback=init_map', async, defer)
